#!/usr/bin/bash
# This is a template for the bazel verilog_rtl_lint_test rule
# It is not intended to be run stand-alone
mv lint.log lint.log.bak 2> /dev/null
{SIMULATOR_COMMAND} \
     -log lint.log -i {COMMAND_SCRIPT}

./{LINT_PARSER} $@
