-licqueue
-V
-notice
-sverilog
-DVCS
-ntb_opts uvm-1.2
+plusarg_save
-lca
-lrt
+libext+.sv+.svh+.v+.vh+.vams+.vp+.svp

# Enable the IEEE Std. 1800-2012 compliant SVA features
-assert svaext
# Enable the checker endchecker' construct
-assert checker

-timescale=1ns/1ps

-Mupdate

# Support MDA of interface/module instances and interface ports
-mda_inst

+define+TBV
+define+VCS
+define+UVM_REGEX_NO_DPI
+define+UVM_NO_DEPRECATED
+define+UVM_OBJECT_MUST_HAVE_CONSTRUCTOR
+define+TIMESCALE_STEP_FS=1000
+define+TIMESCALE_PREC_FS=1000

# Support randomization of real, shortreal, realtime in a constraint
-xlrm floating_pnt_constraint
-xlrm uniq_prior_final
# Unpacked array concatenation in the highconn of the inout ports of module, interface, program.
-xlrm uac_inout_highconn
# Support index locator methods for MDA
-xlrm sv_mda_find_index
# Support default assignment pattern for Dynamic Array, Queue.
-xlrm vsa_default_ap
# Support reading the value of any clocking variable whose direction is output
-xlrm relax_cb_dir
# Support packed vector of nettype
-xlrm nettype_array
# Monitor real values and expressions in covergroups
-xlrm real_cg
# Support varible-size arrays in the right side of continuous assignment and force statement
-xlrm dyn_types_in_ca

+lint=PCWM,TFIPC-L

# Turn on warnings for non-void functions called with return values ignored
+warn=SV-NFIVC
+warn=noUII-L
# Disable unnecessary LCA warning.
+warn=noLCA_FEATURES_ENABLED

# Tasks must not be enabled in functions. Other tools do not allow this.
-error=TEIF
# Identifier in ANSI port declaration
-error=IPDASP
# Duplicate port in module instantiation
-error=DPIMI
# Concatenations with unsized constants
-error=CWUC
# More arguments than needed
-error=MATN
# Too many parameter overrides
-error=TMPO
-error=MRRE
# Attempt to override undefined parameter
-error=AOUP

{COMPILE_ARGS}
{DEFINES}
{FLISTS}
