-sverilog
-licqueue
-V
+libext+.sv+.svh+.v+.vh+.vams+.vp+.svp
-timescale=100fs/100fs
-Mupdate
+define+TBV
+define+VCS
+plusarg_save
+define+TIMESCALE_STEP_FS=100
+define+TIMESCALE_PREC_FS=100

{DEFINES}
{FLISTS}
{POST_FLIST_ARGS}
