#!/usr/bin/bash
# This is a template for the bazel verilog_rtl_unit_test rule
# It is not intended to be run stand-alone
set -e

use_waves=0
launch_waves=0
remaining_args=()

while (( $# ))
do
    case $1 in
        "--waves" )
            use_waves=1
            ;;
        "--launch" )
            launch_waves=1
            ;;
        *)
            remaining_args+=($1)
            ;;    
    esac
    shift
done

waves_render_cmd=""
if [ $use_waves -eq 1 ]
then
    waves_render_cmd="-input {WAVES_RENDER_CMD_PATH}"
fi

waves_launch_cmd=""
if [ $launch_waves -eq 1 ]
then
    waves_render_cmd="-input {WAVES_RENDER_CMD_PATH}"
    waves_launch_cmd="simvision waves.shm"
fi

{SIMULATOR_COMMAND} \
    "-define TBV \
    -libext .sv \
    -libext .svh \
    -libext .v \
    -libext .vams \
    -disable_sem2009 \
    -enable_single_yvlib \
    -licqueue \
    -timescale 100fs/100fs \
    -vtimescale 100fs/100fs \
    -define TIMESCALE_STEP_FS=100 \
    -define TIMESCALE_PREC_FS=100 \
    {PRE_FLIST_ARGS}
    {FLISTS} \
        {TOP} \
    $waves_render_cmd \
    {POST_FLIST_ARGS}
    ${remaining_args[@]}; \
    $waves_launch_cmd
    "
