#!/usr/bin/bash
# This is a template for the bazel verilog_rtl_unit_test rule
# It is not intended to be run stand-alone
{SIMULATOR_COMMAND} \
    -define TBV \
    -libext .sv \
    -libext .svh \
    -libext .v \
    -libext .vams \
    -disable_sem2009 \
    -enable_single_yvlib \
    -licqueue \
    -timescale 100fs/100fs \
    -vtimescale 100fs/100fs \
    -define TIMESCALE_STEP_FS=100 \
    -define TIMESCALE_PREC_FS=100 \
    {PRE_FLIST_ARGS}
    {FLISTS} \
    {TOP} \
    {POST_FLIST_ARGS}
    $@
