# This is a template used in the bazel verilog_rtl_unit_test rule
# These commands are intended to be passed to Xcelium to create the waveform database for an rtl unit test if the appropriate command line flag is set
database -open -shm mydb -into waves.shm -default
probe -database mydb {TOP_BASE_NAME} -all -dynamic -memories -depth all -packed 2048 -unpacked 2048
puts [string map {"\"" ""} [format {"Waves Available: %s/%s"} [pwd] "waves.shm"]]
run
