#!/usr/bin/env bash
# This is a template for the bazel verilog_rtl_cdc_test rule
# It is not intended to be run stand-alone
set -e

use_gui=0

while (( $# ))
do
    case $1 in
        "--gui" )
            use_gui=1
            ;;
        *)
            ;;    
    esac
    shift
done

no_gui_flag="-no_gui"
if [ $use_gui -eq 1 ]
then
    no_gui_flag=""
fi

{CDC_COMMAND} \
  -cdc \
  $no_gui_flag \
  -proj cdc_run \
  -define RULES_VERILOG_GUI $use_gui \
  {PREAMBLE_CMDS} \
  {CMD_FILE} \
  {EPILOGUE_CMDS} \
  $@
! grep "^\[*ERROR" cdc_run/jg.log
