name: YAPF Formatting Check
on: [push]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run YAPF python style checks
        uses: AlexanderMelde/yapf-action@master
        with:
          args: --diff --recursive --style env/.style.yapf .